/* Global styling */
*{
    margin-left: 5%;
}
/* Back arrow styling */
.back-arrow {
    position: fixed;
    top: 20px;
    left: 10px;
    padding: 5px;
    background-color: rgba(125, 231, 117, 0.537);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(120, 8, 145, 0.2);
    text-decoration: none;
    color: #fcfafa;
     margin-right: 5%;
    display: flex;
    align-items: center;
  }
  /* Back icon styling */
  .back-icon {
    font-size: 20px;
    margin-right: 5px;
  }
  
 
/* Person info styling */
.person-info {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    
  }
  /* Photo styling */
  .photo {

    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 50%;
    box-shadow: rgba(72, 2, 68, 0.585) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    transform: scale(1.01);
  }


  /* Name styling */
.name {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 200px;
    margin-bottom: 0.5rem;
    margin-right: 20%;
  }
  /* Contribution styling */
  .contribution {
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: justify;
    margin-right: 40%;
    margin-top: 10%;
  }
  /* Box styling */
  .box{
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    padding-top: 120x;
    margin-bottom: 0px;
    margin-top: 90px;
    margin-right: 10%;
    transform: scale(1.1);
  }